h1 {
    color: red;
    background-color: orange

}

p {
    color: blue

}

.fruit {
    color: green;
    background-color: red
}

.vegetable {
    color: Yellow;
    background-color: green;

}

#ty {
    color: blueviolet
}